/*********************
Global
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

/* переменные для цветов */
:root {
  --white: #fff;
  --black: #000;
  --dark: #0c0c0e;
  --gold: #bb945f;
  --gray: #8e8e8e;
}

.page {
  width: 100%;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  overflow: hidden;
  position: relative;
  background-color: var(--gray);
}


/*********************
Container
*********************/
.container {
  margin: 0 auto;
  max-width: 1440px;
}

.section-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
}

.section-title-line {
  margin: 20px auto 0;
  width: 50px;
  height: 1px;
  border-top: 1px solid var(--dark);
}


/*********************
Header
*********************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  height: 90px;
  background-color: var(--dark);
}

/*
header__logo
*/
.header__logo {
  height: 50px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: var(--white);
}

/*
header__nav
*/
.header__nav {
  margin: 0 0 0 auto;
  height: 50px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30.5px;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0px;
  color: var(--white);
}

.nav-link:hover {
  border-bottom: 2px solid var(--white);
}

@media (max-width: 1024px) {
  .header__nav {
    position: absolute;
    top: 90px;
    right: -332px;
    width: 332px;
    height: 480px;
    background: #0c0c0e;
    transition: transform 0.5s;
  }

  .header__nav.active {
    transform: translateX(-100%);
    visibility: visible;
    opacity: 1;
  }

  .nav-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding-top: 10px;
  }

  .nav-item {
    width: 100%
  }
}

/*
header__icons
*/
.header__icons {
  display: flex;
  flex-direction: row;
}

.header__icon-profile {
  margin: auto 0 auto 40px;
  width: 28px;
  height: 28px;
  background-image: url('../assets/svg/icon_profile.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  cursor: pointer;
}

.header__icon-burger {
  display: none;
}

@media (width < 1024px) {
  .header__icon-burger {
    display: block;
    margin: auto 0 auto 40px;
    width: 45px;
    height: 20px;
    cursor: pointer;
  }
}

.burger-line1,
.burger-line2,
.burger-line3 {
  display: block;
  width: 45px;
  height: 2px;
  background-color: var(--white);
  transition: 0.5s;
}

.burger-line2 {
  transform: translateY(8px);
}

.burger-line3 {
  transform: translateY(16px);
}

.header__icon-burger.active .burger-line2 {
  transform: scale(0);
}

.header__icon-burger.active .burger-line1 {
  transform-origin: center;
  transform: translateY(10px) rotate(45deg);
}

.header__icon-burger.active .burger-line3 {
  transform-origin: center;
  transform: translateY(6px) rotate(-45deg);
}


/*********************
Welcome
*********************/
.welcome {
  height: 600px;
  background-image: url('../assets/img/welcome.png');
}

.welcome__overlay {
  height: 300px;
  background-image: url('../assets/img/welcome-overlay.png');
}

.welcome__bg {
  margin: -80px 0 0 0;
  padding: 35px 40px;
  width: 600px;
  height: 220px;
  background-image: url('../assets/img/welcome-bg.png');
}

.welcome__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 510px;
  height: 150px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}


/*********************
About
*********************/
.about {
  padding: 20px;
  height: 837px;
  background-color: var(--white);
}

.about__txt {
  margin-top: 40px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--black);
  text-align: center;
}

.about__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.about__img {
  width: 450px;
  height: 560px;
}

.about__pagination {
  margin: 35px auto 0;
  width: 78px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__btn {
  padding: 5px;
  width: 26px;
  height: 26px;
}

.about__btn:hover {
  cursor: pointer;
}

.about__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--dark);
  transition: all 0.7s ease;
}

.about__circle.active,
.about__circle:hover {
  background-color: var(--gold);
}


/*********************
Favorites
*********************/
.favorites {
  padding: 20px;
  height: 1439px;
  background-color: var(--white);
}

.favorites__text {
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--black);
}

.favorites__form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 80px;
  margin-top: 35px;
  margin-left: -5px;
  width: 710px;
  height: 34px;
}

.faforites__form_item {
  width: 150px;
  height: 34px;
}

.favorites__label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 21px;
  align-items: flex-end;
  padding: 5px 5px 5px 5px;
  line-height: 23px;
  cursor: pointer;
}

.favorites__input {
  width: 17px;
  height: 17px;
  accent-color: var(--black);
  cursor: pointer;
}

.favorites__input:checked+span {
  font-weight: 700;
}

.favorites__span {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0px;
}

.favorites__books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-top: 35px;
  height: 1150px;
}

.favorites__books-winter{
  display: flex;
}

.favorites__books-spring{
  display: none;
}

.favorites__books-summer{
  display: none;
}

.favorites__books-autumn{
  display: none;
}

.favorites__book {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 590px;
  height: 555px;
}

.favorites__book_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 0 15px 20px;
  width: 550px;
  height: 555px;
  border: 1px solid var(--black);
}

.favorites__staff {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;

}

.favorites__staff__line {
  width: 60px;
  height: 1px;
  background-color: var(--gold);
}

.favorites__book-title {
  margin-top: 19px;
  width: 550px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorites__book-title>div:first-child {
  text-transform: uppercase;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorites__book-description {
  margin-top: 20px;
  width: 357px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__book-btn {
  width: 75px;
  height: 30px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: auto;
  letter-spacing: 1px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: var(--white);
}

.favorites__book-btn:hover {
  border-color: var(--gold);
  background-color: var(--gold);
  transition: all 0.7s ease;
}

.own,
.own:hover {
  font-weight: 700;
  color: var(--gold);
  border: 1px solid var(--gold);
  cursor: default;
  background-color: var(--white);
  opacity: 1;
}

.favorites__book_img {
  margin-left: -160px;
  width: 200px;
  height: 300px;
}


/*********************
Coffee shop
*********************/
.coffee-shop {
  padding: 20px;
  height: 841px;
  background-color: var(--white);
}

.coffee__txt {
  margin-top: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.coffee__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 520px;
}

.coffee__menu-coffee-tea {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 438px;
}

.coffee-tea__title {
  height: 40px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--gold);
}

.coffee-tea__string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coffee-tea__item {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: capitalize;
}

.coffee-tea__line-price {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 181px;
}

.coffee-tea__line {
  margin-top: 20px;
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--gold);
}

.coffee-tea__price {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}

.coffee__menu-desserts-cakes {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 480px;
}

.desserts-cakes__title {
  height: 40px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: right;
  color: var(--gold);
}

.desserts-cakes__string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desserts-cakes__item {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  width: 231px;
  text-align: right;
  text-transform: capitalize;
}

.desserts-cakes__line-price {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 191px;
}

.desserts-cakes__line {
  margin-top: 20px;
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--gold);
}

.desserts-cakes__price {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: right;
}


/*********************
Our Contacts
*********************/
.contacts {
  padding: 20px;
  height: 575px;
  background-color: var(--white);
}

.contacts__info {
  display: flex;
  font-display: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 414px;
}

.contacts-for {
  margin-bottom: 40px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-phone {
  margin-top: 20px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-phone a {
  color: #000;
  text-decoration: none;
}

.contacts-senior {
  margin-top: 40px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-director {
  margin-top: 20px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-amanda {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  text-decoration: none;
}


/*********************
Library Cards
*********************/
.library-card {
  padding: 20px;
  height: 614px;
  background-color: var(--white);
}

.library__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.library__find {
  width: 600px;
  height: 453px;
}

.library__find-title {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.6px;
  text-align: center;
}

.library__find-form {
  margin-top: 30px;
  padding: 18px;
  width: 600px;
  height: 387px;
  border: 3px solid var(--gold);
  box-shadow: 1px 1px 2px var(--gold);
}

.library__goldcard {
  padding: 20px;
  width: 560px;
  height: 272px;
  background-color: var(--gold);
}

.library__goldcard-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-align: left;
}

.library__goldcard-name {
  margin-top: 18px;
  padding-left: 20px;
  width: 520px;
  height: 66px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-align: left;
  border-radius: 10px;
  border-style: none;
}

.library__goldcard-number {
  margin-top: 25px;
  padding-left: 20px;
  width: 520px;
  height: 66px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-align: left;
  border-radius: 10px;
  border-style: none;
}

.library__goldcard-check {
  margin: 19px auto 0;
  width: 242px;
  height: 44px;
}

.library__goldcard-btn {
  width: 100%;
  height: 100%;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 1px;
  background-color: var(--white);
}

.library__goldcard-btn:hover {
  border-color: var(--gold);
  cursor: pointer;
  background-color: var(--gold);  
  transition: all 0.7s ease;
}

.library__get {
  width: 470px;
  height: 253px;
}

.library__get-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: auto;
  letter-spacing: 0.6px;
  text-align: right;
}

.library__get-txt {
  margin-top: 35px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: right;
}

.library__get-btns {
  margin-top: 35px;
  text-align: right;
}

.library__get-btn {
  display: inline-block;
  margin-left: 14px;
  width: 75px;
  height: 30px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: auto;
  letter-spacing: 1px;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 2px;
  background-color: var(--white);
}

.library__get-btn:hover {
  border-color: var(--gold);
  cursor: pointer;
  background-color: var(--gold);
  transition: all 0.7s ease;
}


/*********************
Footer
*********************/
.footer__content {
  padding: 20px;
  height: 250px;
  color: var(--white);
  background-color: var(--dark);
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
}

.footer__adress {
  width: 230px;
}

.footer__adress a {
  color: var(--white);
  text-decoration: none;
}
.footer__mon {
  width: 150px;
  text-align: right;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 15px;
  height: 34px;
  list-style-type: none;
}

.footer__twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../assets/svg/icon_twitter.svg);
}

.footer__instagram {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../assets/svg/icon_instagram.svg);
}

.footer__facebook {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../assets/svg/icon_facebook.svg);
}

.footer__line {
  margin-top: 29px;
  height: 1px;
  border: 1px solid var(--white);
}

.footer__rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}

.footer__rss a {
  text-decoration: none;
  color: var(--white);
}

.footer__year {
  width: 200px;
  text-align: left;
}

.footer__github {
  width: 200px;
  text-align: right;
}