/*********************
Global
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

/* переменные для цветов */
:root {
  --white: #fff;
  --black: #000;
  --dark: #0c0c0e;
  --bg-gold: #bb945f;
  --bg-gray: #8e8e8e;
}

.page {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  background-color: var(--bg-gray);
}


/*********************
Container
*********************/
.container {
  margin: 0 auto;
  width: 1440px;
  background-color: #aaa;
}

.section-title {
  height: 61px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--dark);
  text-align: center;
}

.section-title-line {
  margin: 0 auto;
  width: 50px;
  height: 1px;
  border-top: 1px solid var(--dark);
}

/*********************
Header
*********************/
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  height: 90px;
  background-color: var(--dark);
}

.header__logo {
  height: 50px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--white);
}

.header__nav {
  margin: 0 0 0 auto;
  height: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: normal;
  color: var(--white);
  transition: color 0.5s;
}

.header__icon-profile {
  margin: auto 0 auto 40px;
  width: 28px;
  height: 28px;
  background-image: url('../assets/svg/icon_profile.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  cursor: pointer;
}


/*********************
Welcome
*********************/
.welcome {
  height: 600px;
  background-image: url('../assets/img/welcome.png');
}

.welcome__overlay {
  height: 300px;
  background-image: url('../assets/img/welcome-overlay.png');
}

.welcome__bg {
  margin: -80px 0 0 0;
  padding: 35px 40px;
  width: 600px;
  height: 220px;
  background-image: url('../assets/img/welcome-bg.png');
}

.welcome__txt {
  padding: 0 40px;
  width: 520px;
  height: 150px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}


/*********************
About
*********************/
.about {
  padding: 20px;
  height: 837px;
  background-color: var(--white);
}

.about__text {
  margin-top: 40px;
  color: var(--black);
  text-align: center;
}

.about__slider {
  margin-top: 20px;
}

.about__img {
  width: 450px;
  height: 560px;
}

.about__pagination {
  margin: 40px auto 0;
  width: 68px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--dark);
}

.about__circle.active {
  background-color: var(--bg-gold);
}


/*********************
Favorites
*********************/
.favorites {
  padding: 20px;
  height: 1439px;
  background-color: var(--white);
}

.favorites__text {
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--black);
}

.favorites__form {
  margin-top: 40px;
  width: 700px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faforites__form_item label {
  margin-left: 20px;
}

.favorites__books {
  margin-top: 40px;
  height: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #999;
}

.favorites__book {
  width: 590px;
  height: 555px;
  background-color: #fff;
}

.favorites__book_txt {
  display: inline-block;
  width: 550px;
  height: 555px;
  border: 1px solid var(--black);
}

.favorites__book_img {
  display: inline-block;
  margin-left: -170px;
  width: 200px;
  height: 300px;
  text-align: right;
}

/*********************
Footer
*********************/
.footer__content {
  height: 250px;
  background-color: var(--bg-gray);
}
