/*********************
Global
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

/* переменные для цветов */
:root {
  --white: #fff;
  --black: #000;
  --dark: #0c0c0e;
  --bg-gold: #bb945f;
  --bg-gray: #8e8e8e;
}

.page {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  background-color: var(--bg-gray);
}


/*********************
Container
*********************/
.container {
  margin: 0 auto;
  width: 1440px;
}

.section-title {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  color: var(--dark);
  text-align: center;
}

.section-title-line {
  margin: 20px auto 0;
  width: 50px;
  height: 1px;
  border-top: 1px solid var(--dark);
}

/*********************
Header
*********************/
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  height: 90px;
  background-color: var(--dark);
}

.header__logo {
  height: 50px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: var(--white);
}

.header__nav {
  margin: 0 0 0 auto;
  height: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30.5px;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0px;
  color: var(--white);
  transition: color 0.5s;
}

.nav-link:hover {
  border-bottom: 2px solid var(--white);
}

.header__icon-profile {
  margin: auto 0 auto 40px;
  width: 28px;
  height: 28px;
  background-image: url('../assets/svg/icon_profile.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: all 0.5s;
  cursor: pointer;
}


/*********************
Welcome
*********************/
.welcome {
  height: 600px;
  background-image: url('../assets/img/welcome.png');
}

.welcome__overlay {
  height: 300px;
  background-image: url('../assets/img/welcome-overlay.png');
}

.welcome__bg {
  margin: -80px 0 0 0;
  padding: 35px 40px;
  width: 600px;
  height: 220px;
  background-image: url('../assets/img/welcome-bg.png');
}

.welcome__txt {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 520px;
  height: 150px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}


/*********************
About
*********************/
.about {
  padding: 20px;
  height: 837px;
  background-color: var(--white);
}

.about__txt {
  margin-top: 40px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--black);
  text-align: center;
}

.about__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.about__img {
  width: 450px;
  height: 560px;
}

.about__pagination {
  margin: 35px auto 0;
  width: 78px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__btn {
  padding: 5px;
  width: 26px;
  height: 26px;
}

.about__btn:hover {
  cursor: pointer;
}

.about__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--dark);
}

.about__circle.active {
  background-color: var(--bg-gold);
}


/*********************
Favorites
*********************/
.favorites {
  padding: 20px;
  height: 1439px;
  background-color: var(--white);
}

.favorites__text {
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--black);
}

.favorites__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  width: 700px;
  height: 24px;
}

.faforites__form_item {
  margin-top: 2px;
  margin-left: -5px;
  padding-left: 5px;
  height: 33px;
}

.favorites__input {
  width: 17px;
  height: 17px;
  cursor: pointer;
  accent-color: var(--black);
}

.favorites__input:checked+label {
  font-weight: 700;
}

.favorites__label {
  display: inline-block;
  margin-top: 0px;
  margin-left: -35px;
  padding: 5px 5px 5px 50px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.favorites__books {
  margin-top: 44px;
  height: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites__books-winter{
  display: flex;
}

.favorites__books-spring{
  display: none;
}

.favorites__books-summer{
  display: none;
}

.favorites__books-autumn{
  display: none;
}

.favorites__book {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 590px;
  height: 555px;
}

.favorites__book_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 0 15px 20px;
  width: 550px;
  height: 555px;
  border: 1px solid var(--black);
}

.favorites__staff {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;

}

.favorites__staff__line {
  width: 60px;
  height: 1px;
  background-color: var(--bg-gold);
}

.favorites__book-title {
  margin-top: 20px;
  width: 550px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
}

.favorites__book-title>div:first-child {
  text-transform: uppercase;
}

.favorites__book-description {
  margin-top: 20px;
  width: 355px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__book-btn {
  width: 75px;
  height: 30px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: auto;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: transparent;
}

.favorites__book_img {
  margin-left: -160px;
  width: 200px;
  height: 300px;
}


/*********************
Coffee shop
*********************/
.coffee-shop {
  padding: 20px;
  height: 841px;
  background-color: var(--white);
}

.coffee__text {
  margin-top: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.coffee__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 520px;
}

.coffee__menu-coffee-tea {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 438px;
}

.coffee-tea__title {
  height: 40px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--bg-gold);
}

.coffee-tea__string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coffee-tea__item {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}

.coffee-tea__line-price {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 181px;
}

.coffee-tea__line {
  margin-top: 20px;
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--bg-gold);
}

.coffee-tea__price {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}

.coffee__menu-desserts-cakes {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 482px;
}

.desserts-cakes__title {
  height: 40px;
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: right;
  color: var(--bg-gold);
}

.desserts-cakes__string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desserts-cakes__item {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  width: 231px;
  text-align: right;
}

.desserts-cakes__line-price {
  display: flex;
  font-display: row;
  justify-content: space-between;
  width: 191px;
}

.desserts-cakes__line {
  margin-top: 20px;
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--bg-gold);
}

.desserts-cakes__price {
  font-family: 'Forum', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}


/*********************
Our Contacts
*********************/
.contacts {
  padding: 20px;
  height: 575px;
  background-color: var(--white);
}

.contacts__info {
  display: flex;
  font-display: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 414px;
}

.contacts-for {
  margin-bottom: 40px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-phone {
  margin-top: 20px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-senior {
  margin-top: 40px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-director {
  margin-top: 20px;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts-amanda {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

/*********************
Footer
*********************/
.footer__content {
  height: 250px;
  background-color: var(--bg-gray);
}
